table, th, td {  
    border: 10px solid black;  
    border-collapse: collapse;  
    margin: 273px auto;
    
}  
th, td {  
    padding: 10px;  

}  
table#alter tr:nth-child(even) {  
    background-color: #eee;  
}  
table#alter tr:nth-child(odd) {  
    background-color: #fff;  
}  
table#alter th {  
    color: white;  
    background-color: gray;  
}  